@import 'tailwindcss'; /* Import Tailwind CSS core */
@import 'tw-animate-css'; /* Import Tailwind CSS Animate CSS plugin */

@plugin "@tailwindcss/typography"; /* Add Tailwind CSS typography plugin */

@source './ui'; /* Import custom UI components */

/* Custom Dark Mode Variant */
@custom-variant dark (&:is(.dark *));

/* Root CSS Variables for Color Palette */
@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

:root {
  --radius: 0.5rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.148 0.004 158.3614210389504);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.148 0.004 158.3614210389504);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.148 0.004 158.3614210389504);
  --primary: oklch(0.761 0.217 148.088793485239);
  --primary-foreground: oklch(0.963 0.003 158.6415605296334);
  --secondary: oklch(0.896 0.026 158.07378193761255);
  --secondary-foreground: oklch(0.228 0.024 156.19605823780506);
  --muted: oklch(0.896 0.026 158.07378193761255);
  --muted-foreground: oklch(0.613 0.097 154.5524674248821);
  --accent: oklch(0.855 0.094 156.04725051544239);
  --accent-foreground: oklch(0.247 0.048 153.2358462445442);
  --destructive: oklch(0.58 0.237 28.43022926835137);
  --border: oklch(0.861 0.035 157.80730299707915);
  --input: oklch(0.861 0.035 157.80730299707915);
  --ring: oklch(0.761 0.217 148.088793485239);
  --chart-1: oklch(0.761 0.217 148.088793485239);
  --chart-2: oklch(0.809 0.177 152.1848662423257);
  --chart-3: oklch(0.828 0.112 155.3040013025864);
  --chart-4: oklch(0.575 0.164 148.06130521308862);
  --chart-5: oklch(0.423 0.115 149.10560616902197);
  --sidebar: oklch(0.896 0.026 158.07378193761255);
  --sidebar-foreground: oklch(0.228 0.024 156.19605823780506);
  --sidebar-primary: oklch(0.761 0.217 148.088793485239);
  --sidebar-primary-foreground: oklch(0.963 0.003 158.6415605296334);
  --sidebar-accent: oklch(0.855 0.094 156.04725051544239);
  --sidebar-accent-foreground: oklch(0.247 0.048 153.2358462445442);
  --sidebar-border: oklch(0.861 0.035 157.80730299707915);
  --sidebar-ring: oklch(0.761 0.217 148.088793485239);
}

.dark {
  --background: oklch(0.231 0.028 155.69242255095827);
  --foreground: oklch(0.963 0.003 158.6415605296334);
  --card: oklch(0.28 0.037 155.35297672217274);
  --card-foreground: oklch(0.963 0.003 158.6415605296334);
  --popover: oklch(0.28 0.037 155.35297672217274);
  --popover-foreground: oklch(0.963 0.003 158.6415605296334);
  --primary: oklch(0.792 0.217 148.98776106388024);
  --primary-foreground: oklch(0.963 0.003 158.6415605296334);
  --secondary: oklch(0.288 0.033 155.85800597792888);
  --secondary-foreground: oklch(0.966 0.009 158.52582766355684);
  --muted: oklch(0.288 0.033 155.85800597792888);
  --muted-foreground: oklch(0.742 0.038 157.55694085157344);
  --accent: oklch(0.444 0.1 151.8569058080346);
  --accent-foreground: oklch(0.97 0.019 158.29342449089674);
  --destructive: oklch(0.529 0.195 27.156747692001183);
  --border: oklch(0.406 0.06 154.88129942021368);
  --input: oklch(0.406 0.06 154.88129942021368);
  --ring: oklch(0.792 0.217 148.98776106388024);
  --chart-1: oklch(0.792 0.217 148.98776106388024);
  --chart-2: oklch(0.847 0.177 152.6181894441909);
  --chart-3: oklch(0.889 0.139 154.60376600015474);
  --chart-4: oklch(0.585 0.148 150.37231880049313);
  --chart-5: oklch(0.444 0.1 151.8569058080346);
  --sidebar: oklch(0.373 0.054 154.9722342799391);
  --sidebar-foreground: oklch(0.963 0.003 158.6415605296334);
  --sidebar-primary: oklch(0.792 0.217 148.98776106388024);
  --sidebar-primary-foreground: oklch(0.963 0.003 158.6415605296334);
  --sidebar-accent: oklch(0.444 0.1 151.8569058080346);
  --sidebar-accent-foreground: oklch(0.97 0.019 158.29342449089674);
  --sidebar-border: oklch(0.406 0.06 154.88129942021368);
  --sidebar-ring: oklch(0.792 0.217 148.98776106388024);
}

/* Utility for Container */
@utility container {
  @apply mx-auto px-4 sm:px-6 lg:px-8; /* Center the container and add responsive padding */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground overscroll-none font-(family-name:--font-geist);
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
  /* Custom Scrollbar Styling */
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: hsl(var(--border));
  }

  /* No Scrollbar Utility */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
  }

  /* View Transition Animations */
  ::view-transition-group(root) {
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  ::view-transition-new(root) {
    animation-name: reveal-light;
  }

  ::view-transition-old(root),
  .dark::view-transition-old(root) {
    z-index: -1;
    animation: none;
  }

  .dark::view-transition-new(root) {
    animation-name: reveal-dark;
  }
}

@layer components {
  .prose-article {
    @apply prose dark:prose-invert prose-sm sm:prose-base focus:outline-none max-w-full;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
